@font-face {
    font-family: 'coolvetica';
    src: url('coolvetica.ttf'); 
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500;700&display=swap');

/* ====== FONTS ========= */
$font: coolvetica;
$menu-font: 'Lato', sans-serif;
$text: 'Assistant', sans-serif;
/* ====== COLORS ========= */
$sidebar-bg: #181818;
$link-color: #909096;
$link-hover-bg: #181e23;
$bg: #1d1d1d;
$nFirstColor: #fd2155;
$nSecondColor: #05fdd8;

/* ====== Sizes ========= */
$sidebar-width: 140px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body {
    background: $bg;
}

a {
    text-decoration: none;
    color: $link-color;
}

.main-content {
    width: calc(100% - #{$sidebar-width});
    margin-left: $sidebar-width;
}

.logo {
    background: #000000;
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;

    h1 {
        color: $nFirstColor;
        -webkit-text-stroke: 1.5px $nFirstColor;
        text-shadow: -8px 0px 0px $nSecondColor;
        font-family: coolvetica;
        font-size: 100px;
    }

    h2 {
        color: #ffffff;
        font-family: $font;
        letter-spacing: 1px;
    }

    p {
        color: $link-color;
        font-family: $menu-font;
    }
}

.sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: $sidebar-width;
    background: $sidebar-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 2;

    .sidebar {
        list-style: none;
        text-align: center;
        width: 100%;

        li {
            font-size: 1.3rem;
            transition: 0.2s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #282828;

            &:nth-child(1) {border-top: 1px solid #282828;}
            a {
                font-family: $menu-font;
                padding: 15px;
                width: 100%;
                font-weight: 600;
                cursor: pointer;
            }

            &:hover {
                > a {
                    color: $nSecondColor;
                }
            }
        }
    }
}

.social-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        opacity: 0.7;
        transition: 0.2s all ease;

        svg {
            fill: $link-color;
        }

        &:hover {
            opacity: 1;
        }
    }
}

/* =========================== HERO ======================== */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .large-letter {
        font-family: coolvetica;
        font-size: 55vw;
        color: #fd2155;
        -webkit-text-stroke: 1.5px #fd2155;
        text-shadow: -30px 0px 0px #05fdd8;
        position: absolute;
        right: 3%;
        transform: rotate(4deg);
        z-index: 0;
        opacity: 0;
        max-height: 100vh;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    .squash-text {
        color: #fff;
        margin-left: 5%;
        position: relative;
        z-index: 2;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore',cursive;
            color: #515152;
            font-size: 1.4rem;
            font-style: italic;
            position: absolute;
            left: -20px;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore',cursive;
            color: #515152;
            font-size: 1.2rem;
            color: #515152;
            font-size: 1.4rem;
            font-style: italic;
            position: absolute;
            left: -20px;
        }

        .line {
            display: flex;

            .word {
                margin-right: 35px;
                opacity: 0;

                &.fadeIn {animation: 1s fadeIn forwards}

                &.long {
                    margin-right: 35px;
                    width: 700px;   
                }

                h1 {
                    font-size: 7rem;
                    display: inline-block;
                    margin: 0 1.5px;
                    font-family: coolvetica;
                    opacity: 1;
                    user-select: none
                }
            }
        }
    }

    .start {
        position: absolute;
        bottom: 20px;
        left: 30px;
        font-size: 32px;
        color: $nFirstColor
    }
}

@media (max-width: 1550px) {.hero .large-letter {font-size: 50vw;}}
@media (max-width: 1400px) {.hero .large-letter {font-size: 40vw;}}
@media (max-width: 1300px) {.hero .large-letter {font-size: 35vw;}}
@media (max-width: 1200px) {.hero .large-letter {display: none;}}

  @keyframes animate {
    0%, 100% { opacity: 0; }
    10%, 80% { opacity: 1; }
  }

  .squash {
    animation: 1.2s squashText ease;
  }

  .squash-text .line .word h1.fadeIn {
    animation: 0.5s fadeIn forwards;
  }

  .squash-text .line .word h1.special-n {
    color: $nFirstColor;
    -webkit-text-stroke: 1.5px $nFirstColor;
    text-shadow: -8px 0px 0px $nSecondColor;
  }

  .squash-text .line .word h1.special-n:hover {
    color: $nFirstColor;
  }

  .squash-text .line .word h1:hover {
    color: $nSecondColor;
  }

.fadeIn {
    animation: 1s fadeIn forwards;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes squashText {
    0% { transform: scaleX(1) scaleY(1); }
    40% { transform: scaleX(1.2) scaleY(0.8); }
    50% { transform: scaleX(1) scaleY(1.2); }
    60% { transform: scaleX(1) scaleY(1); }
    70% { transform: scaleX(1) scaleY(1.2); }
    100% { transform: scaleX(1) scaleY(1); }
  }

  .subtitle {
    font-family: $menu-font;
    color: $link-color;
    margin-top: 50px;
    margin-left: 5%;
    font-size: 34px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    z-index: 2;

    &::before {
        content: '<p>';
        font-family: 'La Belle Aurore',cursive;
        color: #515152;
        font-size: 1.4rem;
        font-style: italic;
        margin-right: 10px;
    }

    &::after {
        content: '</p>';
        font-family: 'La Belle Aurore',cursive;
        color: #515152;
        font-size: 1.4rem;
        font-style: italic;
        margin-left: 10px;
    }
  }

.small-title {
    color: $nSecondColor;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    .line {
        display: flex;

        .word {
            margin-right: 20px;
            opacity: 0;

            &.fadeIn {animation: 1s fadeIn forwards}

            &.long {
                margin-right: 25px;
                width: 700px;   
            }

            h1 {
                font-size: 100px;
                display: inline-block;
                margin: 0 1.5px;
                font-family: coolvetica;
                opacity: 1;
                user-select: none
            }
        }
    }
}

.about {
    padding: 0 10%;
    .about-comp {
        display: flex;
        justify-content: center;

        &.align-right {
            justify-content: flex-end;
        }
    
        p {
            color: #fff;
            width: 800px;
            background: $nFirstColor;
            padding: 25px;
            font-size: 40px;
            font-weight: 300;
        }
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s slideLoadingScreen ease forwards;
    z-index: 1;

    .logo {background: none;}
    .loading-bar {
        height: 2px;
        width: 400px;
        background: #000000;

        .loaded {
            width: 0;
            height: 2px;
            background: linear-gradient(90deg, rgba(253,33,85,1) 0%, rgba(5,253,216,1) 100%);
            animation: 1s loadingAnimation linear forwards;
        }
    }
}

@keyframes slideLoadingScreen {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes loadingAnimation {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

/* ========================================================
========================= PORTFOLIO =======================
=========================================================== */

.portfolio-container {
    margin-top: 25px;
    .portfolio-grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1em;

        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            position: absolute;
            z-index: 2;
        }

        .portfolio-item-container {
            overflow: hidden;
            transition: 0.3s all ease;
        }

        .portfolio-item {
            width: 100%;
            height: 25vw;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: #ffffff;
            text-align: center;
            z-index: 1;
            cursor: pointer;
            transition: 1s all ease;

            &:hover {
                transform: scale(1.1);
            }
            
            .text {
                position: relative;
                z-index: 3;
                color: #fff;
            }
            h1 {
                letter-spacing: 0;
            }

            p {
                margin-top: 8px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .portfolio-container .portfolio-grid {grid-template-columns: repeat(2, 1fr)};
}

@media (max-width: 767px) {

}

.portfolio-modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
    background: rgba(0,0,0,.7);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity ease;
    
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.portfolio-modal {
    width: 1000px;
    height: 450px;
    background: rgba(255,255,255,0.9);
    margin-right: $sidebar-width;
    display: flex;
    position: relative;

    &.show {
        animation: 0.5s blurAnimation ease;
    }
    
    .close-modal {
        position: absolute;
        font-size: 28px;
        right: 15px;
        top: 10px;
        cursor: pointer;
    }
    .image {
        width: 40%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 450px;
        }
    }

    .text {
        text-align: center;
        padding: 30px;
        width: 60%;

        h2 {
            font-family: $text;
        }

        h1 {
            font-size: 3.5rem;
            color: $nFirstColor;
        }

        p {
            margin-top: 30px;
            margin-bottom: 50px;
        }

        a {
            color: #000;
            background: $nSecondColor;
            padding: 10px 30px;
            font-size: 2rem;
            font-weight: bold;
            border: 2px solid $nSecondColor;
            transition: 0.2s all ease;

            &:hover {
                background: transparent;
                color: $nSecondColor;
            }
        }
    }
}

@keyframes blurAnimation {
    from {
        filter: blur(50px);
    } to {
        filter: blur(0);
    }
}

/* ========================================================
========================= CV =======================
=========================================================== */

.cv {
    display: flex;
    padding: 30px;

    .text-side {
        width: 50%;
        position: relative;
        padding-right: 50px;

        p {
            color: #ffffff;
            font-family: $text;
            font-size: 20px;
        }

        .small-title {
            justify-content: flex-start;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore',cursive;
                color: #515152;
                font-size: 1.4rem;
                font-style: italic;
                position: absolute;
                left: -20px;
                top: -15px;
            }
    
            &::after {
                content: '</h1>';
                font-family: 'La Belle Aurore',cursive;
                color: #515152;
                font-size: 1.2rem;
                color: #515152;
                font-size: 1.4rem;
                font-style: italic;
                position: absolute;
                left: -20px;
                top: 115px;
            }
        }
    }

    .skill-bars-container {
        width: 50%;
        padding-top: 100px;
    }

    .skill-bar {
        margin-bottom: 20px;
    
        &:nth-child(1) .bar-after {animation: 2s frontend linear forwards;}
        &:nth-child(2) .bar-after {animation: 2s backend linear forwards;}
        &:nth-child(3) .bar-after {animation: 2s react linear forwards;}
        &:nth-child(4) .bar-after {animation: 2s shopify linear forwards;}
        &:nth-child(5) .bar-after {animation: 2s google linear forwards;}

        h1 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.1em;
        }
    
        .bar-before {
            width: 100%;
            height: 2px;
            margin-top: 8px;
            background: #858585;
            position: relative;
    
            .bar-after {
                height: 2px;
            }
        }
    }
}

.testamonials-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .testamonial {
        background: #2a2a2a;
        padding: 15px;
        color: #8eabab;
        margin-bottom: 15px;
        width: 48%;

        &:nth-child(1) {margin-right: 15px;}

        p {
            font-family: $text;
            margin-top: 10px;
        }

        span {
            color: #ffffff;
        }
    }
}

$frontend: 85%;
$backend: 65%;
$react: 80%;
$shopify: 80%;
$google: 100%;

@keyframes frontend {from {width: 0;} to {width: $frontend;}}
@keyframes backend {from {width: 0;} to {width: $backend;}}
@keyframes react {from {width: 0;} to {width: $react;}}
@keyframes shopify {from {width: 0;} to {width: $shopify;}}
@keyframes google {from {width: 0;} to {width: $google;}}

.contact-container {
    display: flex;
    position: relative;

    .left {
        width: 50%;
        padding: 10px 30px 30px;
    }

    .right {
        width: 50%;
        background-image: url('./map.png');
        background-size: cover;
        background-position: center center;
        position: relative;

        .map-postion {
            background: rgba(0,0,0,.9);
            color: #ffffff;
            font-family: 'Assistant';
            position: absolute;
            top:25%;
            left: 52.5%;
            padding: 20px;
            font-weight: 300;
            transition: 0.3s all ease;
            
            span {color: $nSecondColor;}
        }
    }

    p {
        color: #ffffff;
        font-family: "Assistant", sans-serif;
        font-size: 20px;
    }

    form {
        margin-top: 25px;

        .input-container {
            width: 100%;
            position: relative;

            &::after {
                content: '';
                display: block;
                border-bottom: 2px solid $nSecondColor;
                width: 0;
                position: absolute;
                left: 0;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }

            &.active::after {
                width: 100%;
            }

            &.error::after {
                border-color: $nFirstColor;
                width: 100%;
            }
        }

        input {
            background: #2b2b2b;
            color: #8d8d8d;
            padding: 20px;
            font-size: 16px;
            height: 50px;
            width: 100%;
            border: 0;
            font-family: "Assistant", sans-serif;
            outline: none !important;
            position: relative;

            &.active::after {
                border-bottom: 2px solid $nSecondColor;
            }
        }

        textarea {
            background: #2b2b2b;
            color: #8d8d8d;
            padding: 15px 20px;
            font-size: 16px;
            width: 100%;
            border: 0;
            margin-top: 10px;
            font-family: "Assistant", sans-serif;
            outline: none !important;
            height: 150px;
            resize: none;

            &.active {
                border-bottom: 2px solid $nSecondColor;
            }
        }

        .inputs-line {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .input-container {
                width: 49%;
            }
        }

        button {
            background: linear-gradient(to right,$nSecondColor 50%,transparent 50%);
            background-position: right bottom;
            background-size: 200% 100%;
            color: $nSecondColor;
            border: 2px solid $nSecondColor;
            border-radius: 3px;
            padding: 15px;
            font-family: "Assistant", sans-serif;
            letter-spacing: 4px;
            font-size: 1.4rem;
            margin-top: 10px;
            width: 100%;
            transition: 0.6s all ease;
            cursor: pointer;
            
            &:hover {
                background-position: left bottom;
                color: #181818;
            }
        }
    }

    .small-title {
        margin-bottom: 25px;
        justify-content: flex-start;

        .line .word h1 {font-size: 75px;}

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore',cursive;
            color: #515152;
            font-size: 1.4rem;
            font-style: italic;
            position: absolute;
            left: 10px;
            top: -5px;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore',cursive;
            color: #515152;
            font-size: 1.2rem;
            color: #515152;
            font-size: 1.4rem;
            font-style: italic;
            position: absolute;
            left: 10px;
            top: 90px;
        }
    }
}

.error-modal {
    background: $nFirstColor;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Assistant';
    font-size: 18px;
    position: fixed;
    bottom: 15px;
    right: 0;
    padding: 15px 25px 15px 15px;
    transform: translateX(100%);
    transition: 0.5s all ease;
    
    &.show {
        transform: translateX(0);
    }
}

.tech-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    .block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  50px 0;

        .pink {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.1s opacity ease;
        }

        .gray {
            opacity: 1;
            transition: 0.1s opacity ease;
        }
    }

    svg {
        width: 100px;
        height: auto;
        fill: #9898a1;
    }
}

@media (max-width: 1024px) {
    .hero .squash-text .line .word h1 {font-size: 6rem;}
    .subtitle {font-size: 26px;}
    .contact-container {
        display: block;
        padding: 0 30px;
        .left, .right {width: 100%; padding: 0;}
        .right {
            height: 350px;
            margin: 20px 0;
            .map-postion {
                top: 10.5%;
                left: 51.3%;
            }
        }
    }
    .cv {
        display: block;
        padding: 0 30px;
        margin-top: 30px;
        .text-side, .skill-bars-container {width: 100%; padding: 0;}
        .skill-bars-container {margin-top: 20px;}
    }
}

@media (max-width: 767px) {
    .contact-container {
        padding-bottom: 55px;
        padding-top: 8px;
    }

    .sidebar-container {
        width: 100%;
        bottom: 0;
        top: auto;
        height: auto;
        padding: 15px 0;
        .logo {display: none;}
        .sidebar {display: none;}
        .social-menu {
            justify-content: center;
            a {margin: 0 30px;}
        }
    }

    .main-content {
        width: 100%;
        margin-left: auto;
    }

    .contact-container p {font-size: 16px; padding: 10px;}
    .contact-container .right .map-postion {
        top: 3.5%;
        left: 52.3%;
    }

    .hero {
        height: auto;
        padding: 20px;
    }

    .hero .squash-text .line .word h1 {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 20px;
        margin-left: 0;
        justify-content: center;
    }

    .hero .squash-text {
        margin-left: 0%;
    }

    .hero .start {
        display: none;
    }

    .hero .squash-text .line {
        justify-content: center;
    }

    .hero .squash-text .line {
        .word:nth-child(2) {
            margin-right: 0;
        }

        .word:nth-child(1) {
            margin-right: 20px;
        }
    }

    .hero .squash-text::after, .hero .squash-text::before {
        left: 0;
    }
}